<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Settings" type="HareDu.Tests, Config" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HareDu.Core.Tests.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HareDu.Core.Tests.Settings>
            <setting name="HostUrl" serializeAs="String">
                <value>http://localhost:15672</value>
            </setting>
            <setting name="LoginUsername" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="VirtualHost" serializeAs="String">
                <value>MyTestVirtualHost</value>
            </setting>
            <setting name="Exchange" serializeAs="String">
                <value>MyTestExchange</value>
            </setting>
            <setting name="Queue" serializeAs="String">
                <value>MyTestQueue</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>test_user</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>test_user_password</value>
            </setting>
            <setting name="UserPermissionsTags" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="RoutingKey" serializeAs="String">
                <value>test_routing_key</value>
            </setting>
            <setting name="Policy" serializeAs="String">
                <value>MyTestPolicy</value>
            </setting>
            <setting name="Component" serializeAs="String">
                <value>MyTestComponent</value>
            </setting>
            <setting name="Parameter" serializeAs="String">
                <value>MyTestParameter</value>
            </setting>
        </HareDu.Core.Tests.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>